*{
  margin: 0;
  padding: 0;
}

.App{
  background: black;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

img{
  width: 30%;
}

.wrapper{
  background: white;
  width: 600px;
  height:400px;
  margin: auto; 
  /* It gives equal margin on all sides so basically putting it in center */
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 40px;
  font-weight: 700;
  color: #445A6F;
  margin: 30px 0;
}

button{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #445A6F;
  border: 1px solid #445A6F;
  color: white;
  font-size: 20px;
  margin: 30px 0;
}